$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';

@import '~bootstrap-sass/assets/stylesheets/bootstrap';

$black: #000;
$background-color: #fff;
$desktop-size: 130px;
$game-button-size: 120px;
$border-width: 2px;
$game-piece-size: 18px;

body {
  background-color: $background-color;
}

.col-md-2,
.col-xs-2 {
  align-items: center;
  border: solid $black $border-width;
  font-size: $game-piece-size;
  height: $desktop-size;
  padding: $border-width;
  width: $desktop-size;
}

.row {
  display: block;
}

.top {
  border-top: 0;
}

.left {
  border-left: 0;
}

.right {
  border-right: 0;
}

.bottom {
  border-bottom: 0;
}

.game-board {
  padding: 40px;
}

.game-button {
  background-color: $background-color;
  border: $background-color;
  // color: $background-color;
  height: $game-button-size;
  width: $game-button-size;
}

.hidden {
  display: none;
}
